body {
    margin: 0;
    padding: 0;
    background-color: #050102; /* Afrit Dark Theme */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    box-shadow: 0 0 50px rgba(255, 30, 30, 0.2);
    border: 2px solid rgba(255, 30, 30, 0.5);
    border-radius: 8px;
    overflow: hidden;
}
